<h1>Welcome to my Calculator App!</h1>

<p>This is a project that will showcase some Angular skills. We'll make a simple calculator.</p>
<p>
  We'll have a parent component, which we can think of as the overall calculator itself, and
  the child component, which I will use for the buttons. The parent component contains the 
  expression bar and some function buttons, while the child component is used for adding numbers 
  and operators to the expression.
</p>

<div id = "calcDiv">
  <div id = 'expressionDiv'>
    <textarea readonly>{{ expression }}</textarea>
  </div>


  <!-- Let's start putting some buttons here. I aim to use the ButtonSymbolComponent for two kinds 
    of buttons, digits and operators. The = button will be part of this parent component-->

    <!--These will be the operators. I aim to have them on top-->
  <div class = "opsDiv">
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'+'"></app-symbol-button>
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'-'"></app-symbol-button>
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'*'"></app-symbol-button>
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'/'"></app-symbol-button>
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'.'"></app-symbol-button>
  </div>

  <!--These will be the numbers 0 thru 9-->
  <div class = "numsDiv">
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'1'"></app-symbol-button>
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'2'"></app-symbol-button>
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'3'"></app-symbol-button>
  </div>
  
  <div class = "numsDiv">
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'4'"></app-symbol-button>
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'5'"></app-symbol-button>
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'6'"></app-symbol-button>
  </div>
  
  <div class = "numsDiv">
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'7'"></app-symbol-button>
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'8'"></app-symbol-button>
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'9'"></app-symbol-button>
    <app-symbol-button (expressionChange)="update($event)" [symbol]="'0'"></app-symbol-button>
  </div>

  <div class = "functionsDiv">
    <button class="clearButton" (click)="clear()">Clear</button>
    <button class="backspaceButton" (click)="backSpace()">Back</button>
    <button class="calcButton" (click)="solve()">=</button>
  </div>
</div>