#calcDiv {
    border-color: black;
    border-style: solid;
    border-spacing: 50px;
    background-color:gold;
    max-width: fit-content;
    margin: auto;
}

button {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.clearButton, .backspaceButton {
    background-color: black;
    color: white;
}

#expressionDiv {
    justify-content: center;
}

textarea {
    margin: 5px;
    width: 300px;
}

.opsDiv, .numsDiv {
    display: flex;
}

.calcButton {
    background-color: blue;
    color: white;
}